.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin: 0 1em;
}


.container__botao:checked~.container__rotulo>.cabeçalho__menu-hamburguer {
    background-image: url(../img/menu_branco.png);
}



.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}


.container__botao {
    display: none;
}


.container__botao:checked~.lista-menu {
    display: block
}


.container__home {
    display: flex;
    align-items: center;
}


.container__imagem {
    padding: 0.5em;
}


.lista-menu {
    display: none;
    position: absolute;
    top: 90%;
    width: auto;
}


.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}


.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;

}


.lista-menu__linkcad {
    font-size: 12px;
}


.lista-menu__link-login {
    margin-right: auto;

}


.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}




.container__titulo,
.titulo__negrito {
    font-family: var(--fonte-secundario);
    font-size: 30px;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.container__titulo {
    font-weight: 400;
}


.titulo__negrito {
    font-weight: 700;
}


.cadastro {
    width: auto !important;
    margin-right: 1em;
    gap: 10px;

}


.container__imagem__texto {
    display: none;
}


.lista-menu__item:hover {
    background: var(--azul-degrade);
}


.lista-menu__item:hover>.lista-menu__link {
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
}

.titulo__principal{
    display: none;   
}

@media screen and (min-width: 1024px) {
    .titulo__principal {
        font-size: 60px;
        font-family: var(--fonte-secundario);
        margin: 0.3em 0;
        text-align: center;
        background: var(--azul-degrade);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        display: block;
        font-weight: 700;
    }


    .container__titulo {
        display: none;
    }


    .cabeçalho {
        background-color: var(--branco);
    }


    .lista-menu__linkcad {
        font-size: 20px;

    }


    .container__home {
        margin: 0 2em;
    }


    .cadastro {
        gap: 2em;
        margin: 0 6em;
    }

}